*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    width: 100vw;
    height: 15vh;
    color:#1818d2 ;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.a{
    text-transform: uppercase;
}
.b{
    display: flex;
    gap: 2vw;
    font-size: 24px;
    color: #1818d2;
}
.b a{
    display: flex;
    gap: 2vw;
    font-size: 24px;
    color: #1818d2;
}
.c{
    padding-right: 5px;
}
.c button{
    padding: 12px 10px;
    border: 2px solid black;
    border-radius: 50%;
    color: #1818d2;
    background-color: #000000;
    transition: background-color 0.3s ease-in;
}
.c button:hover{
    background-color: #1818d2;
    color: black;
}
.tagli{
    padding-left: 49vw;
}
.s1{
    width: 70%;
    display: flex;
    background-color: #3b98b7;
    border-radius: 10%;
    overflow: hidden;
}
.img1{
    width: 50%;
}
.img1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text1{
    width: 50%;
    padding: 30px;
}
.text1 button{
    margin-top: 30px;
    padding: 20px 20px;
    border-radius: 12px;
    font-size: 20px;
    background-color: black;
    color: white;
    border: 2px solid black;
}
.text1 h1{
    font-size: 2vw;
}
.text1 p{
    font-size: 22px;
}
.text1 button:hover{
    background: transparent;
    color: #000000;
}
 .s2{
    margin-top: 4vw ;
    width: 70%;
    display: flex;
    background-color: #44e777;
    border-radius: 10%;
    overflow: hidden;
 }
.img2{
    width: 50%;
}
.img2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text2{
    width: 50%;
    padding: 30px;
}
.text2 button{
    margin-top: 30px;
    padding: 20px 20px;
    border-radius: 12px;
    font-size: 20px;
    background-color: black;
    color: white;
    border: 2px solid black;
}
.text2 h1{
    font-size: 2vw;
}
.text2 p{
    font-size: 22px;
}
.text2 button:hover{
    background: transparent;
    color: #000000;
}
.s3{
    margin-top: 4vw ;
    width: 70%;
    display: flex;
    background-color: #752ac6;
    border-radius: 10%;
    overflow: hidden;
 }
.img3{
    width: 50%;
}
.img3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text3{
    width: 50%;
    padding: 30px;
}
.text3 button{
    margin-top: 30px;
    padding: 20px 20px;
    border-radius: 12px;
    font-size: 20px;
    background-color: black;
    color: white;
    border: 2px solid black;
}
.text3 h1{
    font-size: 2vw;
}
.text3 p{
    font-size: 22px;
}
.text3 button:hover{
    background: transparent;
    color: #000000;
}