*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page1{
    width: 99vw;
    height: 100vh;
}
.nav{
    width: 99vw;
    height: 15vh;
    color:#1818d2 ;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.a{
    text-transform: uppercase;
}
.b{
    display: flex;
    gap: 2vw;
    font-size: 24px;
    color: #1818d2;
}
.b a{
    display: flex;
    gap: 2vw;
    font-size: 24px;
    color: #1818d2;
}
.c{
    padding-right: 5px;
}
.c button{
    padding: 12px 10px;
     border-radius: 12px;
    border: 2px solid black;
    color: #1818d2;
    background-color: #000000;
    transition: background-color 0.3s ease-in;
}
.c button:hover{
    background-color: #1818d2;
    color: black;
}
.video-section{
    height: calc(100vh - 15vh);
    width: 99vw;
}
.video-section video{
    width: 100%;
    height: 100%;
    object-fit: cover;
} 
.video-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background: rgba(0,0,0,0.6);
    color: white;
    padding: 30px 40px;
    text-align: center;
    border-radius: 10px;
}
.video-box button{
    padding: 14px 12px;
     border-radius: 12px;
    margin-top: 4px;
    border: 2px solid black;
    background-color: #2626cc;
}
.video-box button:hover{
    background-color: #000000;
    color: white;
}

.page2{
    width: 100vw;
    height: 100vh;
    background-color: #a19898;
}
.dr1 img{
    position: absolute;
    top: 120vh;
    left: 51vw;
    border-radius: 50%;
}
.drt{
    position: absolute;
    top: 169vh;
    left: 60vw;
    background: white;
    color: #000000;
    padding: 30px 40px;
    text-align: center;
    border-radius: 10px;
}
.drs{
    position: absolute;
    top: 130vh;
    left: 18vw;
}
.drs h1{
    font-size: 3vw;
}
.drs p{
    font-size: 1.5vw;
}
.drs button{
    margin-top: 30px;
    padding: 20px 20px;
    border-radius: 12px;
    font-size: 20px;
    background-color: black;
    color: white;
    border: 2px solid black;
}
.drs button:hover{
    background: transparent;
    color: #000000;
}